* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}


/* haeder */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu > img {
  margin-right: 2rem;
}
.menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.menu > ul > li > a { 
  color: #000;
  font-size: 18px;
}
.menu_button > a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  background-color: #8db64d;
  height: 45px;
  width: 110px;
  border-radius: 30px;
  gap: 5px;
  color: #fff;
  margin-top: 20px;
}
.size-6 {
  width: 1.5rem;
}
.mine_meun {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.mine_title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20rem 15rem 20rem 0;
}
.mine_title > p {
  text-align: center;
}
.mine_title > h1 {
  font-size: 2.5rem;
}

/* introduction */
.int_title {
  text-align: center;
  margin: 5rem;
}
.int_button_li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.int_button_li > li > a {
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  background-color: #e7a832;
}
.int_button_li > li > a:hover {
  background-color: #6ab4e1;
}

.swiper-horizontal {
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
}
.swiper-slide:last-child {
  margin-right: 0;
}
/* introduction-title */
.int_mine_title {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
  margin-top: 4rem;
}
.mine_titne {
  display: flex;
  margin: 2rem 5rem;
  flex-direction: column;
  align-items: flex-start;
}
.mine_titne > a {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: #8db64d;
  color: #fff;
  margin-top: 8rem;
  /* top: 11.5rem; */
}

/* 2024-08-25 스와이퍼로 변경을 위해 수정 */
.div_img {
  display: inline-block;
  width: 11.5rem;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.swiper3-button-next::after,
.swiper3-button-prev::after {
  display: none;
}
/* 네비게이션 버튼 */
.swiper3-button-next svg, 
.swiper3-button-prev svg {
  position: absolute;
  top: 92rem;
  z-index: 10;
  color: #fff;
  background-color: #00000075;
}
.swiper3-button-next svg {
  right: 1rem; /* 오른쪽 위치 */
}
.swiper3-button-prev svg {
  left: 41rem;
}

.swiper2-button-next::after,
.swiper2-button-prev::after {
  display: none;
}
/* 네비게이션 버튼 */
.swiper2-button-next svg, 
.swiper2-button-prev svg {
  position: absolute;
    top: 128rem;
    z-index: 10;
    color: #fff;
    background-color: #00000075;
}
.swiper2-button-next svg {
  right: 1rem; /* 오른쪽 위치 */
}
.swiper2-button-prev svg {
  left: 41rem;
}



/* business */
.business_areas {
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 4rem;
  margin-top: 7rem;
}
.business_title {
  color: #fff;
}
.business_group_up {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
  justify-items: center;
  padding: 3rem;
}
.business_group_dvwn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  justify-items: center;
  padding: 1rem 15rem
}
.business_g {
  width: 20rem;
}
.business_g > img {
  width: 3rem;
}
.business_areas > a {
      /* position: relative; */
      display: block;
      width: 12rem;
      height: 3rem;
      text-align: center;
      line-height: 3rem;
      margin: 3rem auto;
      /* padding: 0.5rem 1rem; */
      background-color: #8db64d;
      color: #fff;
  
}

/* inquiry */
.inquiry {
  padding: 7rem 3rem;
}
.inquiry_title {
  text-align: center;
}
.inquiry_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.inquiry_img {
  margin-top: 5rem;
  display: flex;
  width: 500px;
  height: 550px;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
form {
  font-size: 1rem;
  line-height: 2rem;
}
.input > a {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: #8db64d;
  color: #fff;
  top: 3rem;
  right: 12rem;
}
textarea {
  outline: none;
  resize: none;
}

/* footer */
.footer {
  font-size: 0.9rem;
  background-color: #000;
  color: #fff;
  font-weight: 200;
  padding: 2rem;
  line-height: 1.5rem;
}
.footer_first,
.footer_center,
.footer_last {
  display: flex;
  gap: 2rem;
}
.footer > span {
  display: flex;
  justify-content: center;
}